<!DOCTYPE html>
<html lang="en" ng-app="modApp">
  
  <head>
    <title>Test Wep App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <!-- js jquery -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <!-- js bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- js angular -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <!-- js app -->
    <script type="text/javascript" src="/index.js"></script>
  </head>

  <body ng-controller="FirstCtrl as firstCtrl">

    <div class="container">
    <h1>My Orders</h1>
    <form name="itemForm" ng-submit="firstCtrl.updateBasket()" novalidate>
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" name="item" id="item" class="form-control" required ng-model="firstCtrl.item">
          <span id="helpBlock" class="help-block" ng-hide="itemForm.item.$valid">Please type your item here.</span>
        </div>
        <div class="form-group">
          <label for="qty">Quantity</label>
          <input type="number" name="qty" id="qty" class="form-control" required min="1" ng-model="firstCtrl.qty">
          <span id="helpBlock" class="help-block" ng-hide="itemForm.qty.$valid">And type the quantity here.</span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control" ng-disabled="itemForm.$invalid">
            ADD <i class="fa fa-plus" aria-hidden="true"></i></span>
          </button>
        </div>
    </form>

        <h2>Contents</h2>

<form class="form-inline">
  <div class="form-group">
    <label for="filter">Filter:</label>
    <input type="text" class="form-control" id="filter" size="50" ng-model="firstCtrl.filterText">
  </div>
</form>

        <table class="table">
          <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in firstCtrl.basket | filter:firstCtrl.filterText">
              <td>{{i.item | uppercase}}</td>
              <td>{{i.qty}}</td>

            </tr>
          </tbody>

        </table>

    </div>

  </body>
</html>